.container {
    width: 70%;
    margin: auto;
    border: 1px solid #ddd;
    padding: 10px;

    .flight {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 10px;

        .flight-info {
            display: flex;
            justify-content: space-between;
        }

        .price {
            border: 1px solid black;
            height: 20%;
            background-color: #d3d3d3;
            padding: 5px;
            border-radius: 5px;
            text-align: center;
        }

        .column1 {
            width: 35%;
        }

        .column2,
        .column3 {
            width: 25%;
        }
    }
}